.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-links {
    display: flex;
  }
  
  .left-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .search-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-box input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
  }
  
  .search-box button {
    background-color: black;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  .open {
    transform: rotate(-45deg);
  }
  
  .line2 {
    opacity: 0;
  }
  
  .line3 {
    transform: rotate(45deg);
  }
  
  @media (max-width: 768px) {
    .navbar-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .left-links {
      flex-direction: column;
    }
  
    .left-links a {
      margin: 10px 0;
    }
  
    .search-box {
      margin-top: 10px;
    }
  
    .hamburger-menu {
      display: flex;
    }
  
    .mobile-menu {
      display: flex;
      flex-direction: column;
      background-color: #333;
      padding: 20px;
    }
  
    .mobile-menu a {
      color: #fff;
      text-decoration: none;
      margin-bottom: 10px;
    }
  }
  